pipeline/TradePipeline.json
{
	"name": "TradePipeline",
	"properties": {
		"activities": [
			{
				"name": "Fetch Trade data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Product List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table GTA.Trade;",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['Year']"
								},
								"sink": {
									"name": "Year",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['Month']"
								},
								"sink": {
									"name": "Month",
									"type": "Byte"
								}
							},
							{
								"source": {
									"path": "$['Direction']"
								},
								"sink": {
									"name": "Direction",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Reporter']"
								},
								"sink": {
									"name": "Reporter",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Partner']"
								},
								"sink": {
									"name": "Partner",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Product']"
								},
								"sink": {
									"name": "Product",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Currency']"
								},
								"sink": {
									"name": "Currency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Value']"
								},
								"sink": {
									"name": "Value",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Unit']"
								},
								"sink": {
									"name": "Unit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Quantity']"
								},
								"sink": {
									"name": "Quantity",
									"type": "String"
								}
							}
						],
						"collectionReference": "",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "GTATrade",
						"type": "DatasetReference",
						"parameters": {
							"ProductQueryString": {
								"value": "@activity('Get Product List').output.firstRow.ProductList",
								"type": "Expression"
							},
							"Direction": {
								"value": "@activity('Get Product List').output.firstRow.Direction",
								"type": "Expression"
							},
							"StartPeriod": {
								"value": "@activity('Get Product List').output.firstRow.StartPeriod",
								"type": "Expression"
							},
							"EndPeriod": {
								"value": "@activity('Get Product List').output.firstRow.EndPeriod",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SQLTrade",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Product List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ETL].[GetConfigData]",
						"storedProcedureParameters": {
							"EndMonth": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.EndMonth",
									"type": "Expression"
								}
							},
							"EndYear": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.EndYear",
									"type": "Expression"
								}
							},
							"StartMonth": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.StartMonth",
									"type": "Expression"
								}
							},
							"StartYear": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.StartYear",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GenericSQLDataset",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"StartMonth": {
				"type": "string",
				"defaultValue": "Jan"
			},
			"EndMonth": {
				"type": "string",
				"defaultValue": "Dec"
			},
			"StartYear": {
				"type": "int",
				"defaultValue": 2017
			},
			"EndYear": {
				"type": "string",
				"defaultValue": "2017"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-02-15T18:20:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}